
.chat
  .chat-header
    %p.chat-header__left 
      = @group.name
    %p.chat-header__bottom
      Member : 
      - @group.users.each do |user|
        = user.name
    %p.chat-header__right 
      = link_to edit_group_path(@group)  do
        Edit
  .chat-messages
    = render @messages
    .chat-messages__messa
      .chat-messages__message-upper
        %p.chat-messages__message__upper__title 
        %p.chat-messages__message__upper__time 
      %p.chat-messages__message__text 

  .chat-form
    .chat-form-new 
      .chat-form-new__input
        = form_for [@group, @message] do |f|
          .chat-form-new__input__message 
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .chat-form-new__input__image
            = f.label :image, class: "chat-form-new__input__image" do
              = icon('far','image', class: 'icon')
              = f.file_field :image, class: 'form__message'
          = f.submit 'Send', class: 'form__btn'
