.side
  .side-header
    .side-header__name
      %p.side-header__name-user 
        = current_user.name
      .side-header__name-group
        %p.side-header__name-menu 
          =link_to new_group_path do
            =icon('fas', 'edit')
        %p.side-header__name-cog
          = link_to edit_user_path(current_user.id) do
            = icon('fas', 'cog')
  .side-group
    - current_user.groups.each do |group|
      .group-list
        = link_to group_messages_path(group) do
          .group-list__name
            = group.name
          .group-list__messages 
            = group.show_last_message
      